.example-card {
  max-width: 400px;
  margin: auto;
}
.example-header-image {
  background-size: cover;
}

.userDetails {
  width: 700px;
  display: block;
  margin: auto;
  padding-top: 20px;
}

.followers table{
  width: 100%;
  padding-top: 20px;
  margin-top: 20px
  ;
}
